*.txt
*.err
*.rat
*.tsl
*.wel
*.out
*.log
*.exe*
*.dll*
*.htm*
*.obj
*.pch*
*.dep
*.idb
*.pdb
*.pyc
*.rst
*.ncb
*.suo
*.user
*.orig
blue-sky
*.dblite
.debug
.release
*.os
*.obj
*.png
*.csv
callgrind*
tags
*.un~
